/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
html{
    font-family: 'Open Sans', sans-serif;
}
/* /RESET */
/* COMMON */
.flex-container{
    display: flex;
    flex-wrap: wrap;;
}
.container1{
    width: 70%;
    margin: 0 auto;
}
.container2{
    width:60%;
    margin: 0 auto;
    padding:2em 0;
}
.col-40{
    width: 40%;
    /* debug */
    min-height: 100px;
    background-color: aqua;
    /* /debug */
}
.col-60{
    width:60%;
    /* debug */
    min-height: 100px;
    background-color: blueviolet;
    /* /debug */
}
.col{ 
    width: calc(100% / 3 - 1em);
    /* debug */
    min-height: 100px;
    /* /debug */
}
/* /COMMON */
/* UTILITY */
.mrgn{
    margin-top: 3em;
}
/* /UTILITY */
/* HEADER */
header{
    background-color: lightblue;
    width: 100%;
}

.header-top{
    height: 50px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 .5em;
    z-index: 999;
    /* debug */
    background-color: white;
    border: 1px solid black;
    /* /debug */
}
.header-top-left, .header-top-right{
    width: 30%;
    height: 100%;
    /* debug */
    background-color: aqua;
    /* /debug */
}
.jumbotron{
    width: 100%;
    margin-top: 50px;
    padding: 2.5em 0 0;
}
.div-jumbotron{
    /* debug */
    min-height: 150px;
    border: 1px solid black;
    padding: 3em 0 0;
    /* /debug */
}

/* /HEADER */
/* MAIN */
.packets, .row{
    gap: 1em;
    justify-content: space-between;
}
.top{
    height: 30px;
    text-align: center;
    /* debug */
    border: 1px solid black;
    /* /debug */
}
.content{
/* debug */
min-height: 50px;
background-color: aquamarine;
border: 1px solid black;
/* /debug */
}
.image{
    /* debug */
    min-height: 100px;
    background-color: pink;
    /* /debug */
}
.text{
    /* debug */
    min-height: 100px;
    background-color: grey;
    /* /debug */
}

.designit{
    height: 300px;
    width: 100%;
    justify-content: space-between;
}
.left, .right{
    flex-wrap: wrap;
    background-color: #a8a5a5;
}
.col2{
    width: calc(100% / 2);
    height: calc(100% / 2);
    /* debug */
    border: 1px solid black;
    /* /debug */
}
.designit .left #designit-logo{
    background-color:#9ae4c6;
    padding: .5em;
}
.designit .left #asu{
    background-color:blueviolet;
}
.designit .left #uf{
    background-color: #42a4c5;
}
.designit .left #toops{
    background-color:red;
}
.designit .right #wbr{
    background-color:#cb0808;
}
.designit .right #hearst{
    background-color:aquamarine;
}
.designit .right #lonely-planet{
    background-color:blue;
}
.designit .right #clear-channel{
    background-color:yellow;
}
.designit .center{
    background-color:beige;
}
.tryit-section{
    background-color: aquamarine;
    padding: 2em;
}
.tryit{
    /* debug */
    border: 1px solid black;
    /* /debug */
}
.faq-section{
    padding: 2em;
    /* debug */
    border: 1px solid black;
    /* /debug */
}
.faq{
    /* debug */
    border: 1px solid black;
    /* /debug */
}
/* MAIN */
/* FOOTER */
footer{
    background-color: #0f0f0f;
    padding: 2em;
    /* debug */
    min-height: 200px;
    /* /debug */
}
/* /FOOTER */